
<html>
    <div id="experiment">
     <div id="cube">
        <div class="face one">
            <p>Victoria Oh</p>
            <img src="" alt="picture of Victoria Oh">
        </div>
        <div class="face two">
            <p>Kenneth Du</p>
            <img src="" alt="picture of Kenneth Du">
        </div>
        <div class="face three">
            <p>Vera Weikel</p>
            <img src="" alt="picture of Vira Weikel">
        </div>
        <div class="face four">
            <p>Derek Smith</p>
            <img src="" alt="picture of Derek Smith">
        </div>
        <div class="face five">
            <p>About Us</p>
            <img src="" alt="picture of Epicodus group">
        </div>
        <div class="face six">
            <img src="" alt="picture of Kenneth with magnify glass, looking serious at the ground">
        </div>
     </div>
    </div>
</html>